<div class="w3-margin">
  <%= render partial: "search_form"%>
  <%if @repositories.empty?%>
    <div class = 'w3-panel  w3-round-xlarge'>
      No repositories yet
    </div>
  <%end%>
  <ul class= "w3-ul w3-card-4">
    <%= render partial: 'repository', collection: @repositories, as: :repository %>
  </ul>
</div>